USE [master]
GO
/****** Object:  Database [InventarioDB]    Script Date: 08/11/2019 12:09:37 ******/
CREATE DATABASE [InventarioDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InventarioDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\InventarioDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InventarioDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\InventarioDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InventarioDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InventarioDB]
GO
/****** Object:  Table [dbo].[ALMACEN]    Script Date: 08/11/2019 12:09:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALMACEN](
	[ID_ALMACEN] [int] NOT NULL,
	[DESCRIPCION] [varchar](70) NULL,
	[ESTADO] [char](1) NULL,
 CONSTRAINT [PK_ALMACEN] PRIMARY KEY CLUSTERED 
(
	[ID_ALMACEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ARTICULO]    Script Date: 08/11/2019 12:09:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ARTICULO](
	[ID_ARTICULO] [int] NOT NULL,
	[ID_ALMACEN] [int] NULL,
	[DESCRIPCION] [varchar](70) NULL,
	[EXISTENCIA] [int] NULL,
	[TIP_INV] [int] NULL,
	[COSTO] [int] NULL,
	[ESTADO] [varchar](10) NULL,
 CONSTRAINT [PK_ARTICULO1] PRIMARY KEY CLUSTERED 
(
	[ID_ARTICULO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ASIENTO_CONTABLE]    Script Date: 08/11/2019 12:09:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASIENTO_CONTABLE](
	[ID_ASIENTO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION] [varchar](70) NULL,
	[ID_TIP_INV] [int] NULL,
	[CUENTA_CONT] [varchar](20) NULL,
	[TIP_MOV] [varchar](2) NULL,
	[FECHA] [datetime] NULL,
	[MONTO] [decimal](7, 2) NULL,
	[ESTADO] [char](1) NULL,
 CONSTRAINT [PK_ASIENTO_CONTABLE] PRIMARY KEY CLUSTERED 
(
	[ID_ASIENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_INVENTARIO]    Script Date: 08/11/2019 12:09:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_INVENTARIO](
	[ID_TIPO] [int] NOT NULL,
	[DESCRIPCION] [varchar](70) NULL,
	[CUENTA_CONT] [varchar](20) NULL,
	[ESTADO] [varchar](10) NULL,
 CONSTRAINT [PK_TIPO_INVENTARIO1] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRANSACCION]    Script Date: 08/11/2019 12:09:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRANSACCION](
	[ID_TRANS] [int] NOT NULL,
	[TIPO_TRANS] [char](1) NULL,
	[ID_ARTICULO] [int] NULL,
	[FECHA] [datetime] NULL,
	[CANTIDAD] [int] NULL,
 CONSTRAINT [PK_TRANSACCION] PRIMARY KEY CLUSTERED 
(
	[ID_TRANS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ARTICULO]  WITH CHECK ADD  CONSTRAINT [FK_ARTICULO1_ALMACEN] FOREIGN KEY([ID_ALMACEN])
REFERENCES [dbo].[ALMACEN] ([ID_ALMACEN])
GO
ALTER TABLE [dbo].[ARTICULO] CHECK CONSTRAINT [FK_ARTICULO1_ALMACEN]
GO
ALTER TABLE [dbo].[ARTICULO]  WITH CHECK ADD  CONSTRAINT [FK_ARTICULO1_TIPO_INVENTARIO] FOREIGN KEY([TIP_INV])
REFERENCES [dbo].[TIPO_INVENTARIO] ([ID_TIPO])
GO
ALTER TABLE [dbo].[ARTICULO] CHECK CONSTRAINT [FK_ARTICULO1_TIPO_INVENTARIO]
GO
ALTER TABLE [dbo].[ASIENTO_CONTABLE]  WITH CHECK ADD  CONSTRAINT [FK_ASIENTO_CONTABLE_TIPO_INVENTARIO1] FOREIGN KEY([ID_TIP_INV])
REFERENCES [dbo].[TIPO_INVENTARIO] ([ID_TIPO])
GO
ALTER TABLE [dbo].[ASIENTO_CONTABLE] CHECK CONSTRAINT [FK_ASIENTO_CONTABLE_TIPO_INVENTARIO1]
GO
ALTER TABLE [dbo].[TRANSACCION]  WITH CHECK ADD  CONSTRAINT [FK_TRANSACCION_ARTICULO1] FOREIGN KEY([ID_ARTICULO])
REFERENCES [dbo].[ARTICULO] ([ID_ARTICULO])
GO
ALTER TABLE [dbo].[TRANSACCION] CHECK CONSTRAINT [FK_TRANSACCION_ARTICULO1]
GO
ALTER TABLE [dbo].[ALMACEN]  WITH CHECK ADD  CONSTRAINT [CK_ALMACEN_EST] CHECK  (([ESTADO]='I' OR [ESTADO]='A'))
GO
ALTER TABLE [dbo].[ALMACEN] CHECK CONSTRAINT [CK_ALMACEN_EST]
GO
ALTER TABLE [dbo].[ASIENTO_CONTABLE]  WITH CHECK ADD  CONSTRAINT [CK_ASIENTO_EST] CHECK  (([ESTADO]='I' OR [ESTADO]='A'))
GO
ALTER TABLE [dbo].[ASIENTO_CONTABLE] CHECK CONSTRAINT [CK_ASIENTO_EST]
GO
ALTER TABLE [dbo].[ASIENTO_CONTABLE]  WITH CHECK ADD  CONSTRAINT [CK_ASIENTO_MOV] CHECK  (([TIP_MOV]='DB' OR [TIP_MOV]='CR'))
GO
ALTER TABLE [dbo].[ASIENTO_CONTABLE] CHECK CONSTRAINT [CK_ASIENTO_MOV]
GO
ALTER TABLE [dbo].[TRANSACCION]  WITH CHECK ADD  CONSTRAINT [CK_TIPO_TRANS] CHECK  (([TIPO_TRANS]='S' OR [TIPO_TRANS]='T' OR [TIPO_TRANS]='A' OR [TIPO_TRANS]='E'))
GO
ALTER TABLE [dbo].[TRANSACCION] CHECK CONSTRAINT [CK_TIPO_TRANS]
GO
USE [master]
GO
